body {
  font-family: sans-serif;
}

.center {
    text-align: center;
}

.nav {
  list-style-type: none;
  padding: 20px;
  background: #D73F3F;
}

li {
  display: inline; 
  margin: 10px; 
  padding: 10px;
}

li a {
  text-decoration: none;
  color: white
  
}

.welcome {
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;
}

.grouppic {
  max-width:500px;
  max-height:300px;
  width: auto;
  height: auto;
}

.plan {
  font-weight: bold; 
}