---
layout: default
title: Sponsor
published: true

---

<div class='fill-blue'>
  <div class='liner clearfix center fill-darken3 dark col12'>
    <h2 class='pad2'>HOT Summit 2016 Schedule</h2>
  </div>
</div>

<!-- 
[SUBMIT BUTTON - Google Form tbd]
 -->

<div class='limiter pad4y clearfix'>

<table class=''>
	<thead>
		<tr>
			<th>Time</th>
			<th>Events</th>
			<th>Location</th>
		</tr>
	</thead>
</table>

<table class=''>
 	<tbody>
	 	{% for e in site.event-list %}
	 		<tr>
			{% if e.type == "admin" %}
				<td class="event--organization">{{ e.time }}</td>
				<td class="event--organization event--cell__padding">
					<span>{{ e.event }}</span>
					<div class="event--location">{{ e.location }}</div>
				</td>

			{% elsif e.type == "session" %}
				<td id="{{ e.event | remove: ' ' }}" style="padding-top: 3em;">{{ e.time }}</td>
				<td class="event--cell__padding">
					<div class="event--title">{{ e.event }}</div>
					<div class="event--location">{{ e.location }}</div>
					<div class="event--host">
						{% for s in e.speakers %}
							<p><a href="{{ site.baseurl }}/speakers/#{{ s.name | remove: ' ' }}">{{ s.name }}</a>, <span>{{ s.org }}</span></p>
						{% endfor %}
					</div>
						{% if e.description %}
							<div class="event--description">{{ e.description }}</div>
						{% endif %}
				</td>

			{% elsif e.type == "split-session" %}
				<td style="padding-top: 3em;">{{ e.time }}</td>
				<td class= "tester">
					<div class="event--split event--cell__padding" id="{{ e.session-a-event | remove: ' '}}">
						<div class="event--title">{{ e.session-a-event }}</div>
						<div class="event--location">{{ e.session-a-location }}</div>
						<div class="event--host">
							{% for s in e.session-a-speaker %}
								<p><a href="">{{ s.name }}</a>, <span>{{ s.org }} </span></p>
							{% endfor %}
						</div>
						<div class="event--description">{{ e.session-a-description }}</div>		
					</div>
					<div class="event--split event--cell__padding event--split__right" id="{{ e.session-b-event | remove: ' '}}">
						<div class="event--title">{{ e.session-b-event }}</div>
						<div class="event--location">{{ e.session-b-location }}</div>
						<div class="event--host">
							{% for s in e.session-b-speaker %}
								<a href="">{{ s.name }}</a>, <span>{{ s.org }} </span>
							{% endfor %}
						</div>
						<div class="event--description">{{ e.session-b-description }}</div>		
					</div>
				</td>
			{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>


</div>
